.bg-color-footer{
  background-color: #2d64e7;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: aliceblue;
}
a:hover{
  color: black;
}

.eia-logo {
  width: 200px;

}

.logo-footer-ps {
  width: 150px;
  border-radius: 20px;

}
footer{
  color: aliceblue;
}
