<footer class="bg-color-footer">
  <div class="container-lg py-3">
    <div class="flex-around py-5">
        <div class="withe-content col-xl-6">
            <img class="logo-footer-ps my-3" src="../../../assets/img/logo.jpg" alt="PS logo">
            <p class="py-4"><i class="fa-solid fa-globe"></i> Country / Region: Italy</p>
        </div>
        <div class="link-footer col-xl-6">
            <ul>
                <div class="flex-around justify-content-around">
                    <div class="col-lg-4">
                        <li class="py-1"><a href="#">link footer 1</a></li>
                        <li class="py-1"><a href="#">link footer 2</a></li>
                        <li class="py-1"><a href="#">link footer 3</a></li>
                        <li class="py-1"><a href="#">link footer 4</a></li>
                        <li class="py-1"><a href="#">link footer 5</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <img class="eia-logo pt-5" src="../../../assets/img/dqa_logo.png" alt="SIE logo">
        <h6 class="withe-content py-3">
            Website &#169;2023 Cardott s.rl. . Tutte le funzionalità e l'iterezza del codice di DQA&copy;
            è materiale protetto da copyright dei rispettivi proprietari. Tutti i
            diritti sono riservati <a href="#">Maggiori info</a>
        </h6>
    </div>
</div>
</footer>
