

<div class="text-center banner"><h1 class="p-1 text-banner">Acquista la tua licenza tutto diventerà più semplice con DQA&copy;</h1></div>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div>
      <img src="../../assets/img/logo.jpeg" class="logo">
    </div>

    <div class="hambu-menu">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
          <li><a class="dropdown-item" href="#">Menu item</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        DQA&copy;
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          FAQ
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Chi Siamo
          </a>
          <a class="navbar-item">
            Partner
          </a>
          <a class="navbar-item">
            Contatti
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Assistenza
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-link is-hovered">Acquista</button>
          <button class="button is-hovered">Login</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="bg-video-wrap">
  <div class="jumbo d-flex flex-column justify-content-around align-items-center">
    <div class="my-3">
        <h1 class="title-jumbo animate__animated animate__backInRight">Gestisci l'HACCP in digitale</h1>
    </div>
    <div class="action-buttons">
      <button class="button is-link is-hovered acquista mx-1 animate__animated animate__backInDown">Richiedi la tua DEMO</button>
      <button class="button is-danger is-hovered acquista animate__animated animate__backInUp">Acquista DQA&copy;</button>
    </div>
  </div>
</section>

<!-- end header start new component-->
<app-main></app-main>
<app-carousel></app-carousel>
<app-card></app-card>
